body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0e0e0;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.header {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5em;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.control-panel, .charts, .logs {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 calc(50% - 20px);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.control-panel button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.control-panel button:hover {
  background-color: #0056b3;
}

.status {
  margin-top: 20px;
}

.status>span {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.status input {
  width: 100%;
  padding: 5px;
  font-size: 1em;
}

.chart {
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.logs {
  flex: 1 1 100%;
  max-height: 300px;
  overflow-y: auto;
}

.logs h3 {
  margin-bottom: 10px;
}

#log-display {
  white-space: pre-wrap;
  font-family: monospace;
}

.chart {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

#package-fill-chart {
  position: relative;
}

#package-fill-chart .fill-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #4caf50; /* Зеленый цвет заполнения */
  transition: height 0.03s ease-out;
}

#package-fill-chart p {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0;
  line-height: 150px;
  font-size: 1.2em;
  font-weight: bold;
}

#storage-fill-chart {
  position: relative;
}
#storage-fill-chart .fill-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #838383;
  transition: height 0.2s ease-out;
}

#storage-fill-chart p {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0;
  line-height: 150px;
  font-size: 1.2em;
  font-weight: bold;
}

#raw-chart {
  position: relative;
}
#raw-chart .fill-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #af4c4c; 
  transition: height 0.2s ease-out;
}
#raw-chart p {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0;
  line-height: 150px;
  font-size: 1.2em;
  font-weight: bold;
}

#package-chart {
  position: relative;
}
#package-chart .fill-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: #af4c4c; 
  transition: height 0.2s ease-out;
}
#package-chart p {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0;
  line-height: 150px;
  font-size: 1.2em;
  font-weight: bold;
}


.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #a10000;
}

.modal_img {
  width: 60px;
}